div.userlist {
    

    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
   
     padding-left: 20%; 
     padding-bottom: 20px;


}


div.userlist>div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    
    text-align: center;
    background-color: rgb(202, 255, 224);
    color: rgb(0, 0, 0);
   
   
    width: 500px;
    height: 50px;
    padding-top: 20px;
    margin-top: 20px;

}
div.userlist>div:hover
{
    border: 1px solid rgb(81, 51, 59);

}


